@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Righteous', cursive;
}

h2, h3, p{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 614px;
}

.topbar {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.titletop {
    margin-top: 8px;
    margin-left: 21px;
}

.titletop h1, .titletop h2 {
    font-weight: 400;
    color: #FFFFFF;
}
.titletop h1 {
    font-size: 44px;
}
.titletop h2 {
    font-size: 18px;
}

.bottombar {
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-button {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.content {
    margin-top: 123px;
    margin-left: 19px;
}

.content h1 {
    color: #333333;
    font-weight: 400;
    font-size: 26px;
}

.menu-comidas, .menu-bebidas, .menu-sobremesas {
    height: 216px;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.menu-sobremesas {
    margin-bottom: 108px;
}

.box {
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin-right: 16px;
    background-color: #FFFFFF;
    position: relative;
}

.inside-box {
    width: 172px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 18px;
    padding-bottom: 13px;
}

.inside-box img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.inside-box h2 {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.inside-box p {
    margin-top: 4px;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.inside-box h3 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.icon {
    display: none;
}
.selected .icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: green;
    display: block;
}

.selected {
    box-shadow: 0px 0px 0px 8px #32B72F inset;
}

.active {
    background-color: #32B72F;
}