@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

* {
   box-sizing: border-box;
}

body {
   background-color: #e5e5e5;
}
.top {
   position: fixed;
   top: 0px;
   height: 92px;
   width: 414px;
   background-color: #CF2B2B;
}

.titulo-top {
   margin-top: 12px;
   margin-left: 21px;
}
.titulo-top h1 { 
   color: white;
   font-family: 'Righteous';
   font-weight: 400;
   font-size: 44px;
}

.titulo-top h2 {
   color: white;
   font-family: 'roboto';
   font-weight: 400;
   font-size: 18px;
}

.box-button {
   position: fixed;
   bottom: 0px;
   width: 414px;
   height: 92px;
   background-color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-button button {
   width: 364px;
   height: 61px;
   border-radius: 50px;
   border: 0px;
   background-color: #CBCBCB;
}

.box-button button p {
   color: #FFFFFF;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 20px;
}

.conteudo {
   margin-top: 123px;
   margin-left: 19px;
}

.conteudo h1 {
   font-family: 'Righteous';
   font-weight: 400;
   font-size: 26px;
}

.foods {
   width: 900px;
   display: flex;
   justify-content: space-between;
}

.box {
   margin-top: 17px;
   height: 216px;
   width: 172px;
   border-radius: 9px;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 15px;
}

.box img {
   width: 144px;
   height: 87px;
   border-radius: 4px;
}

.box h1 {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 16px;
}

.box p{
   font-family: 'roboto';
   font-weight: 300;
   font-size: 15px;
   color: #a6a6a6;
}

.box h2 {
   font-family: 'roboto';
   font-weight: 400;
   font-size: 16px;
}
